/* credits.module.css */

.creditsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    height: 100vh; /* Full height for vertical centering */
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .creditsList {
    list-style-type: none;
    padding: 0;
  }
  
  .creditsItem {
    margin-bottom: 0.5rem;
  }
  
  .creditsLink {
    text-decoration: none;
    color: #0073e6;
    font-size: 1rem;
  }
  
  .creditsLink:hover {
    text-decoration: underline;
  }
  